<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Build the Bear</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/walletsBundle.js" type="module"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <div id="backgroundImage"></div>
    <div id="backgroundCover"></div>
    <header id="marketPrices"></header>
    <main>
<!--      <div id="walletConnection" class="mainSectionCard">-->
<!--        <h3 id="connectedWalletAddress">Not connected</h3>-->
<!--        <button id="connectWallet">Connect</button>-->
<!--        <button id="verifyWallet">Verify</button>-->
<!--        <button id="donate">Donate</button>-->
<!--      </div>-->
      <div id="welcomeMessage" class="mainSectionCard">
        <h2>Build the Bear . Market</h2>
      </div>
      <div id="cards">
        <div id="documentation" class="mainSectionCard">
          <a class="" target="_blank" href="https://www.buildthebear.online/">
            <h3>➟ Resources and Documentation : </h3>
          </a>
          <h5>buildthebear.online</h5>
          <ul>
            <li><a class="" target="_blank" href="https://www.buildthebear.online/docs/launch">Token Launch Guide</a></li>
            <li><a class="" target="_blank" href="https://www.buildthebear.online/docs/minting">How to Mint NFTs</a></li>
            <li><a class="" target="_blank" href="https://www.buildthebear.online/docs/deploying">How to Deploy Contracts</a></li>
            <li><a class="" target="_blank" href="https://www.buildthebear.online/docs/analysis">Token Analysis Guide</a></li>
            <li>More Coming Soon</li>
          </ul>
        </div>
        <div id="earlyAdopters" class="mainSectionCard">
          <div>
            <a class="" target="_blank" href="https://app.niftykit.com/collections/buildthebear-v1">
              <h3>➟ Early Adopters NFT Collection : </h3>
            </a>
            <h5>20 1-of-1 animations</h5>
            <ul>
              <li>Custom Collectibles</li>
              <li>Early Access to Developments</li>
              <li>Potential for Boosted Staking</li>
              <li>Inclusive of all future benefits</li>
            </ul>
          </div>
        </div>
        <div id="roadmap" class="mainSectionCard">
          <h3>Build the Bear's Roadmap : </h3>
          <h5>Upcoming Developments</h5>
          <ul>
            <div class="roadmapDivider">Q4 '22 <hr></div>
            <li>Website/Socials ✓</li>
            <li>Contract Audit</li>
            <li>Documentation v1</li>
            <li>Digital Sticker Pack ✓</li>
            <div class="roadmapDivider">Q1 '23 <hr></div>
            <li>Private Pre-Sale</li>
            <li>Token Offering</li>
            <li>Henry the Hypemachine v1</li>
            <li>Early Adopters NFTs</li>
            <li>Open-Source Participation</li>
            <div class="roadmapDivider">Q2 '23 <hr></div>
            <li>BTB Single-Staking Pool</li>
            <li>Conversion Tools</li>
            <li>Launch of BTB Market</li>
            <li>Bot Upgrades</li>
          </ul>
        </div>
<!--        <div id="ethereumChart" class="mainSectionCard">-->
<!--          <div class="nomics-ticker-widget" data-name="Ethereum" data-base="ETH" data-quote="USD"></div><script src="https://widget.nomics.com/embed.js"></script>-->
<!--        </div>-->
      </div>
<!--      <div id="tokenCharts" class="mainSectionCard">-->
<!--        <iframe src="https://teams.bogged.finance/embeds/chart?address=0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c&chain=bsc&charttype=candles&theme=bg:2A2C24FF|bg2:E7E5DF0D|primary:575A4BFF|secondary:4FB477FF|text:E7E5DFFF|text2:E7E5DFFF|candlesUp:4FB477FF|candlesDown:E63946FF|chartLine:018CF0FF&defaultinterval=15m&showchartbutton=true"-->
<!--                height="400px"-->
<!--                width="800px"-->
<!--        ></iframe>-->
<!--      </div>-->
<!--      <aside id="toolbox">-->
<!--        <div class="toolboxSection">-->
<!--          <h4>Trusted Tools</h4>-->
<!--          <h6>Tracking:</h6>-->
<!--          <a class="toolLink" target="_blank" href="https://blockscan.com/">Blockscan</a>-->
<!--          <h6>Building:</h6>-->
<!--          <a class="toolLink" target="_blank" href="https://hibiki.finance/">Hibiki Finance</a>-->
<!--          <a class="toolLink" target="_blank" href="https://onlymoons.io/">Only Moons</a>-->
<!--          <h6>Trading:</h6>-->
<!--          <a class="toolLink" target="_blank" href="https://app.bogged.finance/bsc/dashboard">Bogged Finance</a>-->
<!--          <h6>Gambling:</h6>-->
<!--          <a class="toolLink" target="_blank" href="https://moonarch.app/">Moonarch</a>-->
<!--          <a class="toolLink" target="_blank" href="https://tokensniffer.com/">Token Sniffer</a>-->
<!--        </div>-->
<!--      </aside>-->
    </main>
  </body>
</html>