/* Rules by Type */

* {
  transition: all 0.15s ease-in-out;
  font-family: \'Rubik\', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #2A2C24;
}

a:hover {
  opacity: 0.75;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h2 {

}

h5 {
  text-align: right;
  font-size: 12px;
}

h6 {
  margin-bottom: 0;
}

hr {
  border: 1px solid #2A2C24;
}

html {
  background: #FFFEEF;
  margin: 0;
  padding: 0;
}

iframe {
  border: 1px solid #E7E5DF;
  border-radius: 0.25rem;
}

li {
  margin: 0.5rem;
}

li a svg, span a svg {
  bottom: -2.5px;
  position: relative;
}

main {
  margin: 6rem 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

span:has(#backgroundImage), span:has(#earlyAdoptersImage) {
  z-index: -2 !important;
}

svg {
  width: 20px;
  height: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

/* Rules by Class */

.active {
  color: darkslategrey;
}

.connectedWallet * {
  border-color: #FFD147 !important;
  color: #FFD147 !important;
}

.connectedWallet {
  border-color: #FFD147 !important;
}

.connectorLabel {
  margin-left: 0.3rem;
}

.inlineText {
  display: inline-flex;
}

.inlineText * {
  margin: 0 0.25rem;
}

.mainSectionCard {
  margin: 2rem 1rem 0rem 1rem;
  padding: 1rem;
  height: fit-content;
  max-width: min-content;
  opacity: 0;
  transition: opacity 0.8s ease-in;
  z-index: 1;
}

.mainSectionCard:not(#swapWidget) {
  box-shadow: -4px 4px 0px rgb(0 0 0 / 40%);
  border: 4px solid rgb(0 0 0 / 10%);
}

.mainSectionCard button {
  padding: 0.25rem;
  cursor: pointer;
}

.mainSectionCard button:hover {
  opacity: 0.75;
}

.mainSectionCard h3 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem 0;
}

.mainSectionCard ul a:hover, .mainSectionCard span a:hover {
  padding-left: 0.5rem;
}

.mainSectionCardDescription {
  font-size: 10px;
}

.md-button {
  color: black !important;
  margin-bottom: 0.5rem !important;
}

.roadmapDivider {
  font-size: 10px;
}

.stakeAllButton {

}

.stakingAmount {
  text-align: center;
  align-items: center;
}

.stakingAmount span {
  font-family: 'Wayward Sans', sans-serif;
  margin-left: 10px;
}

.swapWidget {
  box-shadow: -4px 4px 0px rgb(0 0 0 / 20%);
  border: 4px solid rgb(0 0 0 / 10%);
  border-radius: 0.5rem !important;
  height: 368px !important;
}

.swapWidget button[color="interactive"]:has(.button-large) {
  padding: 0.25rem;
}

.swapWidget > div[style] > div[tabindex] > div[style] > :first-child {
  border-radius: 0 0 0.25rem 0.25rem !important;
}

.tabContent {
  display: none;
  animation: fadeEffect 0.5s;
}

.tabSet {
  overflow: hidden;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.tabLink {
  padding: 0.25rem 0.75rem !important;
  margin: 0.25rem;
  border: none;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 12px;
  transition: opacity 25ms;
}

.tabLink.active {
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.25rem;
}

.verifiedWallet {
  border-color: #4FB477 !important;
}

.verifiedWallet * {
  border-color: #4FB477 !important;
  color: #4FB477 !important;
}

.walletConnector {
  display: inline-flex;
  align-items: center;
}

.walletConnector button {
  background: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 1rem;
  border: 2px solid rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  box-shadow: -4px 4px 0px rgb(0 0 0 / 10%);
  display: inline-flex;
  align-items: center;
}

.walletConnector button:hover {
  opacity: 0.75;
  margin-right: 1.5rem;
  box-shadow: -2px 2px 0px rgb(0 0 0 / 10%);
}

.walletConnector img {
  height: 20px;
}

.walletConnector span {
  margin-right: 0.25rem;
}


/* Rules by ID */

#aboutUs {
  background: #fffef395;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#connectedWalletAddress {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

#documentation {
  background: #fee6a5;
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 0;
}

#earlyAdopters {
  border-radius: 0.5rem;
  padding: 0;
}

#earlyAdopters h3 {
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}

#earlyAdopters h5 {
  margin: 0 0.5rem;
}

#earlyAdopters > div {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

#earlyAdoptersVideo {
  position: relative;
  margin: 1rem;
  margin-left: 72.5%;
  margin-top: -30%;
  border-radius: 0.25rem;
  border: 2px solid #2A2C24;
  outline: none;
}

#roadmap {
  background: #f6ead3;
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

#socials {
  background: #feecca;
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

#socials li:nth-of-type(2) {
  height: 22px;
}

#socials li:nth-of-type(2) svg, #socials li:nth-of-type(3) svg {
  width: 16px;
  height: 16px;
}

#singleStakingWidget .mainSectionCardDescription svg {
  width: 10px;
  height: 10px;
}

#social ul {
  margin-top: auto;
}

#singleStakingWidget {
  background: #feecca;
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

#singleStakingWidget span b {
  font-family: 'Wayward Sans', sans-serif;
}

#singleStakingWidget .stakingControl {
  margin: 0.25rem 0.5rem;
}

#singleStakingWidget .stakingControl {
  background: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  border: 2px solid rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  box-shadow: -4px 4px 0px rgb(0 0 0 / 10%);
  display: inline-flex;
  align-items: center;
}

#singleStakingWidget .stakingControl:nth-of-type(1), #singleStakingWidget .stakingControl:nth-of-type(2) {
  background-color: #C2E7D9;
}

#singleStakingWidget .stakingControl:nth-of-type(3), #singleStakingWidget .stakingControl:nth-of-type(4) {
  background-color: #FBD4B4;
}

#singleStakingWidget .stakingControl:nth-of-type(5) {
  background-color: #FEE5C8;
  margin-bottom: 0.5rem;
}

#singleStakingWidget .stakingControl:hover {
  opacity: 0.75;
  box-shadow: -2px 2px 0px rgb(0 0 0 / 10%);
}

#singleStakingWidget .singleStakingContent {
  text-align: center;
}

#singleStakingWidget .mainSectionCardDescription {
  display: flex;
  justify-content: center;
}

#singleStakingWidget input {
  height: 2rem;
  border-radius: 0.25rem;
  border: 2px solid rgb(0 0 0 / 20%);
  text-align: center;
  margin: 1rem 0rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: -4px 4px 0px rgb(0 0 0 / 20%);
  font-weight: bold;
  font-family: 'Wayward Sans', sans-serif;
  width: 50%;
}

#swapWidget {
  padding: 0;
}

#walletConnectors {
  position: fixed;
  display: inline-flex;
  right: 0;
  top: 1rem;
  transition: all 0.2s ease-out;
  z-index: 2;
}

#welcomeMessage {
  height: fit-content;
  max-height: 150px;
  padding: 1.25rem 0;
  text-align: center;
}

#welcomeMessage h6 {
  display: flex;
  justify-content: center;
  gap: 4px;
}

#welcomeMessage h6::after {
  content: "";
  width: 2px;
  height: 12px;
  background: #111D13;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

/* Mobile Adjustments */

@media (max-width: 414px) {
  main {
    margin: 0 !important;
    zoom: 0.75 !important;
  }

  .mainSectionCard {
    margin: 0.5rem auto !important;
    min-width: 70%;
  }

  #walletConnectors {
    position: relative !important;
    width: 100% !important;
    display: inline-flex !important;
    justify-content: center !important;
  }

  .walletConnector button {
    margin: 0 0.5rem 1rem 0.5rem;
  }
}


/* Background Animation */

.bg {
  background-image: linear-gradient(-20deg, #415D43 50%, #FFF 50%);
  animation:slide 8s ease-in-out infinite alternate;
  bottom:0;
  left:-50%;
  opacity:0.05;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-5;
}

.bg2 {
  background-image: linear-gradient(-25deg, #415D43 50%, #FFF 50%);
  animation-direction:alternate-reverse;
  animation-duration:10s;
}

.bg3 {
  background-image: linear-gradient(-30deg, #415D43 50%, #FFF 50%);
  animation-duration:12s;
}


/* Keyframe Animations */

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }

  100% {
    transform:translateX(25%);
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
