/* Rules by Type */

* {
  transition: all 0.15s ease-in-out;
  font-family: \'Rubik\', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #2A2C24;
}

a:hover {
  opacity: 0.75;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h2 {

}

h5 {
  font-size: 12px;
  text-align: right;
}

h6 {
  margin-bottom: 0;
}

hr {
  border: 1px solid #2A2C24;
}

html {
  background: #FFFEEF;
  margin: 0;
  padding: 0;
}

iframe {
  border: 1px solid #E7E5DF;
  border-radius: 0.25rem;
}

li {
  margin: 0.5rem;
}

li a svg, span a svg {
  bottom: -2.5px;
  position: relative;
}

main {
  height: 100%;
  margin: 6rem 0;
  width: 100%;
  z-index: 0;
}

span:has(#earlyAdoptersImage) {
  z-index: -2 !important;
}

svg {
  height: 20px;
  width: 20px;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}


/* Rules by Class */

.accordion {
  border-radius: 4px;
}

.accordionTitle {
  cursor: pointer;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.accordionContent.open {
  max-height: 1000px;
}

.accountBalance {
  display: inline-flex;
  opacity: 0.25;
}

.accountBalance.visible {
  opacity: 1.0 !important;
}

.active {
  color: darkslategrey;
}

.bg {
  background-image: linear-gradient(-20deg, #415D43 50%, #FFF 50%);
  animation:slide 8s ease-in-out infinite alternate;
  bottom:0;
  left:-50%;
  opacity:0.05;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-5;
}

.bg2 {
  background-image: linear-gradient(-25deg, #415D43 50%, #FFF 50%);
  animation-direction:alternate-reverse;
  animation-duration:10s;
}

.bg3 {
  background-image: linear-gradient(-30deg, #415D43 50%, #FFF 50%);
  animation-duration:12s;
}

.stakingOption {
  margin: 0 0.25rem;
  background: #fff;
  padding: 0.25rem 0.5rem !important;
  border: none;
  border-radius: 0.25rem;
  border: 2px solid rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  box-shadow: -4px 4px 0px rgb(0 0 0 / 10%);
  display: inline-flex;
  align-items: center;
}

.stakingOption.selected,
.stakingOption:hover {
  color: #ffffff;
  box-shadow: -2px 2px 0px rgb(0 0 0 / 10%);
}

.stakingOption:last-child {
  margin-right: 0;
}

.stakingOption:nth-of-type(1) {
  background: rgba(11, 61, 10, 0.3);
}

.stakingOption:nth-of-type(2) {
  background: rgba(34, 139, 34, 0.3);

}

.stakingOption:nth-of-type(3) {
  background: rgba(76, 175, 80, 0.3);

}

.stakingOption:nth-of-type(4) {
  background: rgba(129, 199, 132, 0.3);
}

.stakingOptions {
  margin: auto auto 0.5rem auto;
}

.connectedAccount, .connectedAccountBalance {
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 5px;
  margin: 1rem 1rem 1rem 0;
  text-align: center;
  border: 2px solid rgb(0 0 0 / 10%);
}

.connectedAccountBalance {
  width: fit-content;
}

.connectedWallet * {
  border-color: #FFD147 !important;
  color: #FFD147 !important;
}

.connectedWallet {
  border-color: #FFD147 !important;
}

.connectorLabel {
  margin-left: 0.3rem;
}

.expandCollapse {
  text-align: center !important;
  left: 0;
  top: 0;
  position: fixed;
  margin: 1rem;
}

.expandCollapse button {
  font-family: 'Wayward Sans', sans-serif !important;
}

.henryBackground {
  border-radius: 0.25rem;
  background-image: url("../public/img/henryBear.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.075;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Changed from 500px to 100% */
  position: absolute; /* Changed from relative to absolute */
  z-index: -1; /* Added to place the background behind the content */
}

.inlineText {
  display: inline-flex;
}

.inlineText * {
  margin: 0 0.25rem;
}

.lockedStakingWidget {
  background: rgba(255, 255, 240, 0.7);
}

.mainSectionCard {
  padding: 1rem !important;
  margin: 2rem auto;
  height: fit-content;
  max-width: min-content;
  opacity: 0;
  transition: opacity 0.8s ease-in;
  z-index: 1;
  cursor: pointer;
}

.mainSectionCard:not(#swapWidget) {
  box-shadow: -4px 4px 0px rgb(0 0 0 / 40%);
  border: 4px solid rgb(0 0 0 / 10%);
}

.mainSectionCard button {
  padding: 0.25rem;
  cursor: pointer;
}

.mainSectionCard button:hover {
  opacity: 0.75;
}

.mainSectionCard h3 {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainSectionCard h3 svg {
  margin-right: 5px;
}

.mainSectionCard ul a:hover, .mainSectionCard span a:hover {
  padding-left: 0.5rem;
}

.mainSectionCardDescription {
  font-size: 10px;
}

.md-button {
  color: black !important;
  margin-bottom: 0.5rem !important;
}

.roadmapDivider {
  font-size: 10px;
}

.singleStakingWidget {
  background: rgba(255, 248, 232, 0.8);
}

.stakingAmount {
  text-align: center;
  align-items: center;
}

.stakingAmount span {
  font-family: 'Wayward Sans', sans-serif;
  margin-left: 10px;
}

.stakingWidget {
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

.stakingWidget span b {
  font-family: 'Wayward Sans', sans-serif;
}

.stakingWidget .stakingContent {
  text-align: center;
}

.stakingWidget .stakingControl {
  margin: 0.25rem 0.75rem;
  background: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  border: 2px solid rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  box-shadow: -4px 4px 0px rgb(0 0 0 / 10%);
  display: inline-flex;
  align-items: center;
}

.stakingWidget .stakingControl:nth-of-type(1), .stakingWidget  .stakingControl:nth-of-type(2) {
  background-color: #C2E7A1;
}

.stakingWidget .stakingControl:nth-of-type(3), .stakingWidget  .stakingControl:nth-of-type(4) {
  background-color: #FBD4B4;
}

.stakingWidget .stakingControl:nth-of-type(5) {
  background-color: #FEE5C8;
  margin-bottom: 0.5rem;
}

.stakingWidget .stakingControl:hover {
  opacity: 0.75;
  box-shadow: -2px 2px 0px rgb(0 0 0 / 10%);
}

.stakingWidget .mainSectionCardDescription {
  display: flex;
  justify-content: center;
}

.stakingWidget input {
  height: 2rem;
  border-radius: 0.25rem;
  border: 2px solid rgb(0 0 0 / 20%);
  text-align: center;
  margin: 1rem 0rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: -4px 4px 0px rgb(0 0 0 / 20%);
  font-weight: bold;
  font-family: 'Wayward Sans', sans-serif;
  width: 50%;
}

.stakingWidget .mainSectionCardDescription svg {
  width: 10px;
  height: 10px;
}

.swapWidget {
  box-shadow: -4px 4px 0px rgb(0 0 0 / 20%);
  border: 4px solid rgb(0 0 0 / 10%);
  border-radius: 0.5rem !important;
  height: 368px !important;
}

.swapWidget button[color="interactive"]:has(.button-large) {
  padding: 0.25rem;
}

.swapWidget > div[style] > div[tabindex] > div[style] > :first-child {
  border-radius: 0 0 0.25rem 0.25rem !important;
}

.tabContent {
  display: none;
  animation: fadeEffect 0.5s;
}

.tabSet {
  overflow: hidden;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.tabLink {
  padding: 0.25rem 0.75rem !important;
  margin: 0.25rem;
  border: none;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 12px;
  transition: opacity 25ms;
}

.tabLink.active {
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.25rem;
}

.transactionContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* White background */
  border-radius: 0.25rem;
  padding: 20px;
  text-align: center;
  box-shadow: -4px 4px 0px rgb(0 0 0 / 40%);
  border: 4px solid rgb(0 0 0 / 10%);
}

.transactionHeader {
  display: inline-flex;
}

.transactionOverlay {
  transition: opacity 0.45s ease-in-out;
  animation: fadeEffect 0.45s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10 !important;
  opacity: 1 !important;
}

.transactionOverlay.hidden {
  opacity: 0 !important;
}

.transactionOverlay.background {
  z-index: -10 !important;
}

.transactionSpinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #2A2C24;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

.verifiedWallet {
  border-color: #4FB477 !important;
}

.verifiedWallet * {
  border-color: #4FB477 !important;
  color: #4FB477 !important;
}

.walletConnector {
  display: inline-flex;
  align-items: center;
}

.walletConnector button {
  background: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 1rem;
  border: 2px solid rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  box-shadow: -4px 4px 0px rgb(0 0 0 / 10%);
  display: inline-flex;
  align-items: center;
}

.walletConnector button:hover {
  opacity: 0.75;
  margin-right: 1.5rem;
  box-shadow: -2px 2px 0px rgb(0 0 0 / 10%);
}

.walletConnector img {
  height: 20px;
}

.walletConnector span {
  margin-right: 0.25rem;
}


/* Rules by ID */

#aboutUs {
  background: rgba(255, 248, 232, 0.9);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#connectedWalletAddress {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

#documentation {
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 0;
}

#earlyAdopters {
  border-radius: 0.5rem;
  padding: 0;
}

#earlyAdopters h5 {
  margin: 0 0.5rem;
}

#earlyAdoptersVideo {
  position: relative;
  margin: -30% 1rem 1rem 72.5%;
  border-radius: 0.25rem;
  border: 2px solid #2A2C24;
  outline: none;
}

#roadmap {
  background: rgba(255, 255, 240, 0.9);
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

#socials {
  background: rgba(254, 245, 224, 0.9);
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

#socials li:nth-of-type(2) {
  height: 22px;
}

#socials li:nth-of-type(2) svg, #socials li:nth-of-type(3) svg {
  width: 16px;
  height: 16px;
}

#henryWidget {
  border-radius: 0.5rem;
  position: relative;
}

#social ul {
  margin-top: auto;
}

#toggleAllAccordions {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  padding: 5px;
  margin: 0.25rem;
  text-align: center;
  border: 2px solid rgb(0 0 0 / 10%);
  animation: fadeEffect 0.5s;
  color: rgb(0 0 0 / 50%);
}

#swapWidget {
  padding: 0 !important;
}

#infoCards, #productCards, #tokenCards {
  margin: 0 1rem;
}

#walletConnectors {
  position: fixed;
  display: block;
  text-align: right;
  right: 0;
  top: 1rem;
  transition: all 0.2s ease-out;
  z-index: 2;
}

#welcomeMessage {
  height: fit-content;
  max-height: 150px;
  padding: 1.25rem 0;
  text-align: center;
}

#welcomeMessage h6 {
  display: flex;
  justify-content: center;
  gap: 4px;
}

#welcomeMessage h6::after {
  content: "";
  width: 2px;
  height: 12px;
  background: #111D13;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}


/* Mobile Adjustments */

@media (max-width: 414px) {
  main {
    margin: 0 !important;
    zoom: 0.75 !important;
  }

  .mainSectionCard {
    margin: 0.5rem auto !important;
    min-width: 70%;
  }

  #walletConnectors {
    position: relative !important;
    width: 100% !important;
    display: inline-flex !important;
    justify-content: center !important;
  }

  .walletConnector button {
    margin: 0 0.5rem 1rem 0.5rem;
  }
}


/* Keyframe Animations */

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }

  100% {
    transform:translateX(25%);
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
